.custom-shadow {
  text-shadow: 0 4px 30px hsla(0, 0%, 100%, 0.5);
}
.connect-btn {
  filter: drop-shadow(0 2.82464px 21.1848px rgba(255, 255, 255, 0.5));
  position: relative;
  z-index: 1;
  border-radius: 2.82464px;
  padding: 8px 40px 17px 35px;
}
.connect-btn:before {
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: -1;
  content: '';
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 9px);
  border-radius: 2.82464px;
  transition: all 0.3s;
}
.connect-btn:after {
  content: '';
  position: absolute;
  width: calc(100% - 5px);
  height: calc(100% - 9px);
  border-radius: 2.82464px;
  transition: all 0.3s;
  left: 5px;
  top: 7px;
  background-color: #070707;
  border: 0.706161px solid #fff;
  z-index: -2;
}
.btn-font {
  font-family: Array, sans-serif;
  font-size: 18px;
  font-weight: bold;
}
.nav-hover:hover {
  text-shadow: 0 -4px 0 #09f755;
  font-family: Array, sans-serif;
}
.text-codeYellow {
  --tw-text-opacity: 1;
  color: rgb(255 159 10 / var(--tw-text-opacity));
}
.text-codeBlue {
  --tw-text-opacity: 1;
  color: rgb(100 210 255 / var(--tw-text-opacity));
}
.text-codeGreen {
  --tw-text-opacity: 1;
  color: rgb(9 247 85 / var(--tw-text-opacity));
}
.text-codeComment {
  --tw-text-opacity: 1;
  color: rgb(142 142 147 / var(--tw-text-opacity));
}
.about-image-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: linear-gradient(
    89.89deg,
    rgba(0, 0, 0, 0.06) -12.34%,
    rgba(217, 217, 217, 0) 114.36%,
    rgba(0, 0, 0, 0.4) 114.36%
  );
  backdrop-filter: blur(44.3568px);
}
.about-image-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  right: 0;

  border-radius: 50%;
  background: linear-gradient(
    225.26deg,
    #4baaf0 15.39%,
    #cc4cb4 46.41%,
    #fb775a 78.75%
  );
}
.bg-experience-hr-line {
  background-image: linear-gradient(
    90deg,
    transparent,
    #fff 13.02%,
    #fff 88.54%,
    transparent
  );
}
.border-radius-white-line {
  border: 1px solid white;
}
.tab-color {
  text-shadow: 0 -4px 0 #09f755;
}
.active .nav-hover {
  color: #09f755;
  font-family: Array, sans-serif;
}
.name-hover {
  display: inline-block;
  position: relative;
}
.name-hover:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #09f755;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.name-hover:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
